.jobInfo{
    border: solid 2px black;
    border-radius: 30px;

    padding: 2rem;
    background: rgb(226, 226, 226);
}

.mainForm{
    margin: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: flex-start;
}
.credit-section{
    background: rgb(226, 226, 226);
    border: solid 2px black;
    border-radius: 30px;

    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.submitSection{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.imageSection{
    border: solid 2px black;
    border-radius: 30px;

    padding: 2rem;
    margin: 1rem;
    background: rgb(226, 226, 226);
}

.labelButton{
    border: black;

}