.jobCard {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    height: 350px;
    width: 250px;
    background-color: rgb(240, 240, 240);
    z-index: 1;
    border: 2px solid;
    border-color: rgb(240, 240, 240);
  }

  .jobCard > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    align-items: center;
    padding-top: 10px;
  }

  .jobCard__name{
    text-align: left;
    color: black;
  }

  .jobCard__uploader {
    display: flex;
    color: grey;
    margin: auto;
  }
  

  .jobCard > Button {
    background:rgb(130, 100, 200);
    border: 1px solid;
    border-color:rgb(240, 240, 240);
    color: #111;
    /* padding: 10px; */
  }
  .jobCard > AccountBalanceWalletSharpIcon{
    padding-top: 10px;
    margin-top: 10px;
    vertical-align: baseline;
  } 
  .jobCard__price {
    margin-top: 5px;
    color:grey;
    vertical-align: baseline;
  }
  
  .jobCard__info {
    height: 100px;
    margin-bottom: 15px;
  }