.jobCard {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    margin: 10px;
    width: 100%;
    height: 350px;
    width: 250px;
    background-color: rgb(240, 240, 240);;
    z-index: 1;
    border: 2px solid;
    border-color: rgb(240, 240, 240);
  }

  .jobCard > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    align-items: center;
    padding-top: 10px;
  }

  .jobCard__name{
    text-align: left;
    color: black;
  }

  .jobCard__uploader {
    display: flex;
    color: grey;
    
  }
  
  
  
  .jobCard > Button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding: 10px;
  }
  
  .jobCard__price {
    margin-top: 5px;
    color:grey;
  }
  
  .jobCard__info {
    height: 100px;
    margin-bottom: 15px;
  }