.label-job-page {
   background-image: linear-gradient(135deg, #81ffef 10%, #f067b4 100%);
}

.label-job-form {
   display: flex;
   justify-content: space-evenly;
   flex-flow: row wrap;
   align-content: flex-start;
   padding: 3rem;
}

.radio-toolbar {
   margin: 10px;
   display: grid;
   grid-template-columns: [col] 25px [col] 100px;
   grid-gap: 10px;
   align-items: center;
   font-size: 20px;
}

.label-save {
   align-items: center;
   display: flex;
   flex-direction: column;
}

.image-section {
   display: flex;
   width: 50rem;
   height: 38rem;
   justify-content: space-evenly;
   border-radius: 30px;
   left: 0;
   flex-direction: column;
   box-shadow: 2px 2px 30px 2px rgb(0, 0, 0);
   padding: 2rem;
   background: rgb(255, 255, 255);
}

.image-section > h2 {
   position: absolute;
   height: 33rem;
   width: 45rem;
}

.image-slider-container {
   padding: 5%;
}

.label-section {
   background: rgb(255, 255, 255);
   border-radius: 30px;
   box-shadow: 2px 2px 30px 2px rgb(0, 0, 0);
   padding: 2rem;
   display: flex;
   flex-direction: column;
   align-self: center;
   margin-top: 10rem;
}

.labels-container {
   align-self: center;
}

input[type='radio']:after {
   width: 20px;
   height: 20px;
   border-radius: 15px;
   top: -6px;
   left: -2px;
   position: relative;
   background-color: #d1d3d1;
   content: '';
   display: inline-block;
   visibility: visible;
   border: 2px solid white;
}

input[type='radio']:checked:after {
   width: 20px;
   height: 20px;
   border-radius: 15px;
   top: -6px;
   left: -2px;
   position: relative;
   background-color: #37ecff;
   content: '';
   display: inline-block;
   visibility: visible;
   border: 2px solid white;
}

.submitSection {
   display: flex;
   align-items: center;
   margin-top: 4rem;
}
