@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

input {
   font-family: 'Montserrat', sans-serif;
}

.login_logo {
   margin-top: 25px;
   object-fit: contain;
   width: 115px;
   margin-right: auto;
   margin-left: auto;
}

.login_container {
   position: relative;
   width: 100%;
   background-color: #fff;
   height: 110vh;
   background-image: linear-gradient(135deg, #81ffef 10%, #f067b4 100%);
}

.forms-container {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: relative;
   text-align: center;
}

form {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 80vh;
}

.title {
   font-size: 2.2rem;
   font-family: 'Montserrat', sans-serif;
   color: #444;
   margin-bottom: 10px;
}

.input-field {
   max-width: 350px;
   width: 100%;
   background-color: #f0f0f0;
   margin: 10px 0;
   height: 55px;
   border-radius: 55px;
   display: grid;
   grid-template-columns: 15% 85%;
   padding: 0 0.4rem;
   position: relative;
}

.input-field i {
   text-align: center;
   line-height: 55px;
   color: #acacac;
   font-size: 1.1rem;
}

.input-field input {
   background: none;
   outline: none;
   border: none;
   line-height: 1;
   font-weight: 600;
   font-size: 1.1rem;
   font-family: 'Montserrat', sans-serif;
   color: #333;
}

.input-field input::placeholder {
   color: #aaa;
   font-weight: 500;
}

.login_signInButton {
   background-image: linear-gradient(
      to right,
      #9733ee 0%,
      #da22ff 51%,
      #9733ee 100%
   );
}

.login_signInButton {
   background-size: 200%;
   width: 9.375rem;
   border: none;
   outline: none;
   height: 3.125rem;
   border-radius: 3.063rem;
   color: #fff;
   text-transform: uppercase;
   font-weight: 600;
   margin: 0.625rem 0;
   cursor: pointer;
   transition: 0.5s;
   display: block;
}

.login_signInButton:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
}
.login_signInButton:active {
   background-color: #a75ce0;
   transition: background-size 0;
}

.social-text {
   padding: 0.7rem 0;
   font-size: 1rem;
   font-family: 'Montserrat', sans-serif;
}

.other-text {
   padding: 0.7rem 0;
   font-size: 1rem;
   font-family: 'Montserrat', sans-serif;
}

.underlineHover {
   text-decoration: none;
   color: black;
   font-family: 'Montserrat', sans-serif;
   font-weight: bolder;
}

.social-media {
   display: flex;
   justify-content: center;
}

.social-icon {
   height: 46px;
   width: 46px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 0.45rem;
   color: #333;
   border-radius: 50%;
   border: 1px solid #333;
   text-decoration: none;
   font-size: 1.1rem;
   transition: 0.3s;
}

.social-icon:hover {
   color: #a75ce0;
   border-color: #a75ce0;
}

.forgot-pass {
   text-decoration: underline;
}
.p {
   font-family: 'Montserrat', sans-serif;
}
